<script src="https://giscus.app/client.js"
        data-repo="Sodychoe/sodychoe.github.io"
        data-repo-id="R_kgDOO8kheA"
        data-category="Announcements"
        data-category-id="DIC_kwDOO8kheM4CsNaR"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-lang="ko"
        crossorigin="anonymous"
        async>
</script>

<script>
  function setGiscusTheme(isDarkMode) {
    const giscusTheme = isDarkMode ? 'dark' : 'light';
    const iframe = document.querySelector('iframe.giscus-frame');
    if (iframe) {
      iframe.contentWindow.postMessage({
        giscus: {
          setConfig: {
            theme: giscusTheme
          }
        }
      }, 'https://giscus.app');
    }
  }

  // Initial theme set based on current body class
  setGiscusTheme(document.body.classList.contains('dark-mode'));

  // Listen for Hydejack's custom dark mode toggle event
  window.addEventListener('hydejack-dark-mode-toggle', (event) => {
    setGiscusTheme(event.detail);
  });
</script>
